.page {
  background-color: var(--bg-color);
  padding: 10px;
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: var(--font-family), sans-serif;
  line-height: 23.4px;
  text-rendering: optimizeSpeed;
  font-size: 1.8rem;
}

@media (width >= 768px) {
  .page {
    padding: 20px;
  }
}

.grid {
  display: grid;
}

.big-space {
  gap: 50px;
}

@media (width >= 768px) {
  .big-space {
    gap: 80px;
  }
}

.medium-space {
  gap: 20px;
}

.small-space {
  gap: 10px
}

.title {
  font-weight: 700;
  font-size: clamp(11.6rem, 11.2184rem + 1.0178vw, 12rem);
  line-height: 83%;
  text-transform: lowercase;
  color: var(--title-color);
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.label {
  background-color: var(--accent-color);
  color: var(--bg-color);
  font-weight: 700;
}

.label_font-weight_normal {
  font-weight: 400;
}

.caption {
  font-weight: 700;
  color: var(--accent-color);
}

.text {
  color: var(--color);
}

.text__link {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
}

.text__link:hover {
  border-bottom: 1px solid var(--color);
}

.text__link:focus-visible {
  outline: 1px solid currentColor;
}

.header {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: calc(100vh - 20px);
  position: relative;
  margin-block-end: 50px;
}

@media (width >= 768px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
    min-block-size: calc(100vh - 40px);
    margin-block-end: 80px;
  }
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: var(--accent-color);
  border-width: 1px;
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::before {
  top: 0;
  right: 0;
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  bottom: 0;
  left: 0;
  border-top: none;
  border-right: none;
}

.header_record::before {
  content: 'REC';
  position: absolute;
  top: 1px;
  right: 28px;
  color: var(--accent-color);
}

.header_record::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 9px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  grid-row: 1;
  place-self: center end;
}

@media (width >= 768px) {
  .header__theme-menu {
    grid-column: 2;
  }
}

.header__theme-menu-button {
  block-size: 26px;
  inline-size: 70px;
  text-transform: lowercase;
  appearance: none;
  border: none;
  color: var(--accent-color);
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid color-mix(in srgb, var(--accent-color) 50%, transparent);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__title {
  grid-row: 2;
  text-shadow: 4px 4px var(--accent-color);
  place-self: center start;
}

@media (width >= 768px) {
  .header__title {
    grid-column: span 2;
    margin-inline-start: -20px;
  }
}

.header__description {
  grid-row: 3;
  place-self: center end;
}

@media (width >= 768px) {
  .header__description {
    grid-column: 2;
  }
}

.main {
  margin-block-end: 50px;
}

@media (width >= 768px) {
  .difficulties {
    grid-template-columns: 1fr 2fr;
  }

  .difficulties__description {
    grid-column: 2;
  }

  .factors {
    grid-template-columns: repeat(4, 1fr);
  }

  .factors__title {
    grid-column: 1 / 2;
  }

  .factors__description {
    grid-column: 1 / span 4;
  }
}

.gallery__item {
  inline-size: 100%;
  block-size: auto;
}

.gallery__image {
  display: block;
  inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  min-block-size: calc(100vh - 20px);
  display: flex;
  place-items: center;
}

.footer__title {
  text-shadow: 2px 2px var(--accent-color);
}