/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  background-image: url('../images/cover-image-dark.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-block-size: max(100vh, 375px);
  padding: 10px;
}

.lamp {
  border-radius: 50%;
  background-color: var(--vivid-raspberry);
  block-size: 9px;
  inline-size: 9px;
  box-shadow: 0 0 4px 2px var(--vivid-raspberry);
}

.header__title {
  text-shadow: 4px 4px var(--vivid-raspberry);
}

.title {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  letter-spacing: 0;
  color: var(--electric-purple);
}

.factors {
  display: grid;
}

.factors__title {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
}

.card {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
  background-color: var(--midnight-blue);
}

.card__title {
  color: var(--midnight-blue);
  background-color: var(--vivid-raspberry);
  margin-bottom: 10px;
}

.card__description {
  color: var(--powder-pink);
}

.card__description-link {
  text-shadow: 2px 2px var(--vivid-raspberry);
}

.footer__title {
  text-shadow: 2px 2px var(--vivid-raspberry);
}