/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --powder-pink: #F1B2CE;
  --vivid-raspberry: #FF0070;
  --electric-purple: #DB00FF;
  --midnight-blue: #000028;
}